[user]
	name = Lee Mendelowitz
	email = Lee.Mendelowitz@gmail.com
[credential]
	helper = cache
[color]
	ui = true
[alias]
	nicelog = log --oneline --abbrev-commit --graph --decorate --color
	nicelog2 = log --oneline --abbrev-commit --graph --decorate --color
[core]
	autocrlf = false
[push]
	default = current
